<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TransparentNavigationBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F7200D511EF55E1600D9D23F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7200D6D1EF55E1700D9D23F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7200D781EF55E1700D9D23F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
